@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: 0px;
          box-sizing: 0px;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(brown), to(gold));
  background-image: linear-gradient(brown, gold);
  font-family: 'Libre Bodoni', serif;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

.nav1 {
  background-color: whitesmoke;
  -webkit-transition: 1s;
  transition: 1s;
}

.nav1 .navbar {
  background-color: whitesmoke;
}

.nav1 .navbar-light .navbar-brand {
  color: maroon;
  font-weight: bolder;
}

.cool {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 3px;
  -webkit-box-shadow: 9px 13px 13px silver;
          box-shadow: 9px 13px 13px silver;
}

.section1 .section11 {
  width: 500px;
  height: 520px;
  position: relative;
  overflow: hidden;
  border-radius: 60px 10px;
}

.section1 .section11 img {
  width: 500px;
  height: 520px;
  border-radius: 60px 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

.section1 .section11:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 60px 10px;
  opacity: 0.8;
}

.section1 .box1 {
  background-color: whitesmoke;
  height: 400px;
  position: relative;
  margin-top: 40px;
  border-radius: 0px 80px;
  border: 2px solid white;
}

.section1 .box1 .box11 {
  position: absolute;
  top: 180px;
  left: 50px;
}

.section1 .box1 .box11 .profile {
  border-radius: 510px;
  position: absolute;
  top: -170px;
  left: 150px;
  overflow: hidden;
  width: 150px;
  height: 160px;
  text-align: center;
}

.section1 .box1 .box11 .profile img {
  width: 150px;
  height: 170px;
  border-radius: 510px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.section1 .box1 .box11 .profile:hover {
  border-radius: 510px;
}

.section1 .box1 .box11 .profile:hover img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  border-radius: 510px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.section1 .box1 .box11 .font {
  font-size: 25px;
}

.section1 .box1 .box11 .h5 {
  color: dimgrey;
  padding: 0px;
  font-size: 15px;
}

.section1 .box1 .btn {
  background-color: maroon;
  color: aliceblue;
}

.section1 .box1 h2 {
  font-family: serif;
}

.section1 .box12:hover .btn {
  background-color: burlywood;
  -webkit-transition: 1s;
  transition: 1s;
  color: black;
}

.section1 .small a {
  margin-top: 30px;
}

.section1 .nav2 {
  margin: 20px 30px;
}

.section1 .nav2 li {
  display: inline-block;
}

.section1 .nav2 a {
  padding-left: 14px;
}

.section1 .bi-github::before {
  color: maroon;
  font-size: 22px;
  padding: 8px;
  border-radius: 30px;
  background-color: maroon;
  color: white;
}

.section1 .bi-twitter::before {
  color: maroon;
  font-size: 22px;
  padding: 8px;
  border-radius: 30px;
  background-color: maroon;
  color: white;
}

.section1 .bi-linkedin::before {
  color: maroon;
  font-size: 22px;
  padding: 8px;
  border-radius: 30px;
  background-color: maroon;
  color: white;
}

.section1 .bi-github:hover::before {
  background-color: aliceblue;
  color: maroon;
  -webkit-transition: 1s;
  transition: 1s;
}

.section1 .bi-twitter:hover::before {
  background-color: aliceblue;
  color: maroon;
  -webkit-transition: 1s;
  transition: 1s;
}

.section1 .bi-linkedin:hover::before {
  background-color: aliceblue;
  color: maroon;
  -webkit-transition: 1s;
  transition: 1s;
}

.section2 {
  position: relative;
  width: auto;
  background-color: whitesmoke;
  height: 850px;
  border-radius: 0px 90px;
  border: 2px solid white;
}

.section2 .box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 200px;
  left: 160px;
  width: 1000px;
  padding: 60px;
  border-radius: 40px 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(maroon), to(orange));
  background-image: linear-gradient(maroon, orange);
  -webkit-box-shadow: 9px 13px 10px silver;
          box-shadow: 9px 13px 10px silver;
}

.section2 .box2 .box21 h6 {
  padding-top: 3px;
  width: 130px;
  color: azure;
}

.section2 .box2 .box22 {
  margin-left: 90px;
}

.section2 .box2 .box22 .html {
  width: 500px;
  height: 20px;
  display: inline-block;
  position: relative;
  padding-top: 22px;
  border-radius: 20px;
  background: black;
}

.section2 .box2 .box22 .html .html5 {
  width: 420px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: html 4s linear;
          animation: html 4s linear;
  background-image: -webkit-gradient(linear, right top, left top, from(maroon), color-stop(yellow), to(orange));
  background-image: linear-gradient(to left, maroon, yellow, orange);
  border-radius: 20px;
}

.section2 .box2 .box22 .html .css {
  width: 350px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: css 3s linear;
          animation: css 3s linear;
  background-image: -webkit-gradient(linear, right top, left top, from(maroon), color-stop(yellow), to(orange));
  background-image: linear-gradient(to left, maroon, yellow, orange);
  border-radius: 20px;
}

.section2 .box2 .box22 .html .react {
  width: 300px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: react 3s linear;
          animation: react 3s linear;
  background-image: -webkit-gradient(linear, right top, left top, from(maroon), color-stop(yellow), to(orange));
  background-image: linear-gradient(to left, maroon, yellow, orange);
  border-radius: 20px;
}

.section2 .box2 .box22 .html .javascript {
  width: 270px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: javascript 3s linear;
          animation: javascript 3s linear;
  background-image: -webkit-gradient(linear, right top, left top, from(maroon), to(yellow));
  background-image: linear-gradient(to left, maroon, yellow);
  border-radius: 20px;
}

.section2 .box2 .box22 .html .bootstrap {
  width: 400px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bootstrap 3s linear;
          animation: bootstrap 3s linear;
  background-image: -webkit-gradient(linear, right top, left top, from(maroon), to(yellow));
  background-image: linear-gradient(to left, maroon, yellow);
  border-radius: 20px;
}

.section2 .box2 .box22 .html .django {
  width: 220px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: django 3s linear;
          animation: django 3s linear;
  background-image: -webkit-gradient(linear, right top, left top, from(maroon), color-stop(yellow), to(orange));
  background-image: linear-gradient(to left, maroon, yellow, orange);
  border-radius: 20px;
}

@-webkit-keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 420px;
  }
}

@keyframes html {
  0% {
    width: 0px;
  }
  100% {
    width: 420px;
  }
}

@-webkit-keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 350px;
    border-radius: 10px;
  }
}

@keyframes css {
  0% {
    width: 0px;
  }
  100% {
    width: 350px;
    border-radius: 10px;
  }
}

@-webkit-keyframes react {
  0% {
    width: 0px;
  }
  100% {
    width: 300px;
    border-radius: 10px;
  }
}

@keyframes react {
  0% {
    width: 0px;
  }
  100% {
    width: 300px;
    border-radius: 10px;
  }
}

@-webkit-keyframes javascript {
  0% {
    width: 0px;
  }
  100% {
    width: 270px;
    border-radius: 10px;
  }
}

@keyframes javascript {
  0% {
    width: 0px;
  }
  100% {
    width: 270px;
    border-radius: 10px;
  }
}

@-webkit-keyframes bootstrap {
  0% {
    width: 0px;
  }
  100% {
    width: 400px;
    border-radius: 10px;
  }
}

@keyframes bootstrap {
  0% {
    width: 0px;
  }
  100% {
    width: 400px;
    border-radius: 10px;
  }
}

@-webkit-keyframes django {
  0% {
    width: 0px;
  }
  100% {
    width: 220px;
    border-radius: 10px;
  }
}

@keyframes django {
  0% {
    width: 0px;
  }
  100% {
    width: 220px;
    border-radius: 10px;
  }
}

.section3 {
  width: auto;
  height: auto;
  background-color: whitesmoke;
  border-radius: 0 100px;
}

.section3 .box31 {
  width: 310px;
  height: 310px;
  margin-left: 124px;
  overflow: hidden;
  border-radius: 0 70px;
  -webkit-transition: 2s;
  transition: 2s;
  position: relative;
  margin-right: 80px;
  -webkit-box-shadow: 11px 13px 7px silver;
          box-shadow: 11px 13px 7px silver;
}

.section3 .box31 img {
  width: 120px;
  height: 280px;
  border-radius: 0 70px;
  -webkit-transition: 1s;
  transition: 1s;
}

.section3 .box31 a {
  position: absolute;
  top: 120px;
  left: 130px;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
  background-color: greenyellow;
  border: 2px solid whitesmoke;
  padding: 10px 8px;
  color: black;
  border-radius: 30px 0px;
  -webkit-transform: translateX(190px);
          transform: translateX(190px);
}

.section3 .box31:hover img {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  -webkit-transition: 1.2s;
  transition: 1.2s;
  width: 310px;
  height: 310px;
  border-radius: 0 70px;
  opacity: 0.3;
}

.section3 .box31:hover a {
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 3;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.contact {
  background-color: whitesmoke;
  height: auto;
  border-radius: 60px 0px;
  border: 2px solid white;
}

.contact .email {
  margin-top: 50px;
}

.contact .email input {
  width: 400px;
  margin: auto;
}

.contact .message {
  margin-top: 70px;
}

.contact .message textarea {
  width: 450px;
  margin: auto;
}

footer {
  border-radius: 2000px 0px;
  height: 20vh;
  margin-top: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(maroon), to(orange));
  background-image: linear-gradient(maroon, orange);
}

footer p {
  color: aliceblue;
}

footer .box5 {
  margin-top: 120px;
  padding-top: 70px;
}

footer .container2 {
  max-width: 1200px;
  margin-left: 290px;
}

footer .r {
  text-align: end;
}

@media (max-width: 1100px) {
  .section1 .box1 .box11 {
    top: 150px;
  }
  .section1 .box1 .box11 .h5 {
    font-size: 12px;
  }
  .section1 .box1 .box11 .profile {
    left: 44px;
    top: -140px;
    height: 140px;
  }
  .section1 .section11 {
    width: 350px;
    height: 320px;
  }
  .section1 .section11 img {
    width: 350px;
    height: 320px;
  }
  .nav2 ul {
    margin-left: 40px;
  }
  .section2 {
    height: 500px;
  }
  .section2 .box2 {
    width: 345px;
    left: 0px;
    top: 140px;
  }
  .section2 .box2 .box22 {
    margin-left: 0px;
    width: 150px;
  }
  .section2 .box2 .box22 .html {
    width: 150px;
  }
  .section2 .box2 .box22 .html .html5 {
    width: 120px;
  }
  @-webkit-keyframes html {
    0% {
      width: 0px;
    }
    100% {
      width: 120px;
    }
  }
  @keyframes html {
    0% {
      width: 0px;
    }
    100% {
      width: 120px;
    }
  }
  .section2 .box2 .box22 .html .css {
    width: 100px;
  }
  @-webkit-keyframes css {
    0% {
      width: 0px;
    }
    100% {
      width: 100px;
    }
  }
  @keyframes css {
    0% {
      width: 0px;
    }
    100% {
      width: 100px;
    }
  }
  .section2 .box2 .box22 .html .react {
    width: 90px;
  }
  @-webkit-keyframes react {
    0% {
      width: 0px;
    }
    100% {
      width: 90px;
    }
  }
  @keyframes react {
    0% {
      width: 0px;
    }
    100% {
      width: 90px;
    }
  }
  .section2 .box2 .box22 .html .javascript {
    width: 89px;
  }
  @-webkit-keyframes javascript {
    0% {
      width: 0px;
    }
    100% {
      width: 89px;
    }
  }
  @keyframes javascript {
    0% {
      width: 0px;
    }
    100% {
      width: 89px;
    }
  }
  .section2 .box2 .box22 .html .bootstrap {
    width: 110px;
  }
  @-webkit-keyframes bootstrap {
    0% {
      width: 0px;
    }
    100% {
      width: 110px;
    }
  }
  @keyframes bootstrap {
    0% {
      width: 0px;
    }
    100% {
      width: 110px;
    }
  }
  .section2 .box2 .box22 .html .django {
    width: 88px;
  }
  @-webkit-keyframes django {
    0% {
      width: 0px;
    }
    100% {
      width: 88px;
    }
  }
  @keyframes django {
    0% {
      width: 0px;
    }
    100% {
      width: 88px;
    }
  }
  .section3 .box31 {
    margin-left: 20px;
    margin-top: 20px;
  }
  .section3 .box31 img {
    width: 180px;
  }
  .contact .email input {
    width: 200px;
  }
  .contact .message textarea {
    width: 250px;
  }
  footer .r {
    text-align: center;
  }
}

@media screen and (max-width: 1000px) and (min-width: 420px) {
  .section1 .section11 {
    margin-left: 30px;
  }
  .section2 .box2 {
    left: 30px;
  }
  .section3 .box31 {
    margin-left: 50px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 610px) {
  .section1 .section11 {
    width: 370px;
    margin-left: 60px;
  }
  .section1 .section11 img {
    width: 370px;
  }
  .section1 .box1 .box11 .profile {
    left: 124px;
  }
  .nav2 ul {
    margin-left: 100px;
  }
  .section2 .box2 {
    top: 120px;
    left: 70px;
  }
  .section3 .box31 {
    margin-left: 90px;
  }
  footer .box5 {
    text-align: center;
    padding-top: 130px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 800px) {
  .section1 .section11 {
    margin-left: 150px;
  }
  .section1 .box1 .box11 .profile {
    left: 214px;
  }
  .section2 .box2 {
    left: 160px;
    width: 390px;
  }
  .section3 .box31 {
    margin-top: 15px;
    margin-left: 189px;
  }
  footer .box5 {
    padding-top: 50px;
  }
}

@media screen and (max-width: 1100px) and (min-width: 1000px) {
  .section1 .section11 {
    margin-top: 70px;
    margin-left: 30px;
  }
  .section2 .box2 {
    left: 230px;
    width: 450px;
  }
  .section3 .box31 {
    margin-left: 120px;
    width: 230px;
  }
  .section3 .box31 img {
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */